.console-container {
  background: black;
  padding: 8px 10px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 12px;
  margin-bottom: 10px;
  width: 100%;
  float: left;
}

.console-old {
  color: grey;
  margin-bottom: 0;
}

.console-line {
  margin: 0;
  line-height: 1.4;
}

.console-line.old {
  color: grey;
}

.console-line.current {
  color: white;
  margin-top: 0;
}

.prompt {
  /* inherit color from parent */
}

.cursor {
  display: inline-block;
  margin-left: 2px;
}

.pulsate {
  animation: pulsate 0.5s ease-out infinite;
}

@keyframes pulsate {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
