.header {
  margin-bottom: 10px;
}

.prestige-display {
  background-color: lightgrey;
  padding: 2px 5px;
  font-size: 13px;
  margin-bottom: 5px;
}

.clip-counter {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: black;
  line-height: 70%;
}

.clip-counter .count {
  font-weight: normal;
}

.clip-rate {
  font-size: 13px;
  color: black;
  margin: 5px 0 0 0;
}

.clip-rate .rate {
  /* inherit */
}
