.make-clip-container {
  margin-bottom: 15px;
}

.make-clip-button {
  padding: 4px 12px;
  font-size: 13px;
  cursor: pointer;
}

.make-clip-button:active {
  background: linear-gradient(to bottom, #cccccc 0%, #999999 100%);
}
